# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.GE2-Test-2021-Starter.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\35389\Desktop\Copy\GE2-Test-2021-Starter\.idea\.idea.GE2-Test-2021-Starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
